# exclude .gitignore and similar from the generated tarball
.git*                               export-ignore
.github/                            export-ignore
shadowrun6-eden.code-workspace      export-ignore