    <h4 class="highlight" style="margin:0px">{{localize "shadowrun6.roll.edge.getting"}}</h4>
    <table style="background-color: transparent; border: 1px">
    	<tr>
			<td rowspan="4" style="width: 70px;">
				<div class="edge-roll" >
				<img src="systems/shadowrun6-eden/images/receive-money.svg" style="border: 0px; height: auto; width: 48px; z-index: 0; position:absolute; filter: drop-shadow(0 0 4px #000000);" />
				</div>
			</td>
			<td>
			<table style="background-color: transparent; border: 0px">
				<tr>
					<td colspan="2">{{localize "shadowrun6.roll.attackRating"}}</td>
					<td colspan="1" style="width: 3em; text-align: right;"><label name="ar" id="baseAR">{{data.attackRating}}</label> + </td>
					<td colspan="1"><input id="arMod" type="number" name="attackRatingMod" value="{{data.attackRatingMod}}" class="calc-edge-edit armod-value centered" style="width: 2em"/></td>
					<td colspan="1" style="font-weight: bold;">vs</td>
					<td colspan="2">{{localize "shadowrun6.roll.defRating"}}</td>
					<td colspan="1"><input id="dr" type="number" name="defRating" value="{{data.defenseRating}}" class="calc-edge-edit dr-value centered" style="width: 2em"/></td>
				</tr>
				<tr>
					<td colspan="2">{{localize "shadowrun6.roll.edge.situational"}}</td>
					<td colspan="1"> </td>
					<td colspan="1"><input type="checkbox" class="calc-edge-edit" name="situationalEdgeA" value="{{data.situationalEdgeA}}" id="situationalEdgeA" /></td>
					<td colspan="1" style="font-weight: bold;">vs</td>
					<td colspan="2">{{localize "shadowrun6.roll.edge.situational"}}</td>
					<td colspan="1"><input type="checkbox" class="calc-edge-edit" name="situationalEdgeD" value="{{data.situationalEdgeD}}" id="situationalEdgeD" /></td>
				</tr>
				<tr>
					<td colspan="8" ><label id="edgeLabel" style="font-style:italic">&nbsp;</label></td>
				</tr>
				<!-- Currently not used in RollDialog.js #78 -->
				<!-- <tr>
					<td colspan="8" >
						<label id="noTargetLabel"></label>
					</td>
				</tr> -->
			</table>
    		</td>
    	</tr>
    </table>
    <hr/>

