    <h4 class="highlight" style="margin:0px">{{localize "shadowrun6.roll.weapon"}}</h4>
    <table style="background-color: transparent; border: 1px">
    	<tr>
			<td rowspan="3" style="width: 70px;">
				<div class="edge-roll" >
					<img src="systems/shadowrun6-eden/images/colt-m1911.svg" style="border: 0px; height: auto; width: 48px; z-index: 0; position:absolute; filter: drop-shadow(0 0 4px #000000);" />
				</div>
			</td>
			<td colspan="6">
				<table class="spell-table">
					<tr>
						<th style="width:15%">{{localize 'shadowrun6.weapon.damage'}}</th>
						<th style="width:20%">{{localize 'shadowrun6.weapon.firemodes'}}</th>
						<th style="width:35%">{{localize 'shadowrun6.weapon.attackRating'}}</th>
						<th style="width:30%">{{localize 'shadowrun6.weapon.ammo'}}</th>
					</tr>
					<tr>
						<td><span name="calcDamage">{{data.calcDamage}}</span><span name="calcDamagedMonitor">{{#if data.item.calculated.stun}}{{localize "shadowrun6.item.stun_damage"}}{{else}}{{localize "shadowrun6.item.physical_damage"}}{{/if}}</span></td>
						<td>{{firemodes data.gear.modes}}</td>
						<td name="calcAR">{{{attackrating data.calcAttackRating}}}</td>
						<td name="calcRounds">{{data.calcRounds}}</td>
					</tr>
				</table>
			</td>
		</tr>
		{{#if (or (or (eq data.item.system.type "WEAPON_FIREARMS")(eq data.item.system.type "WEAPON_RANGED"))(eq data.item.system.type "WEAPON_SPECIAL"))}}
		<tr>
			{{#if (or (or (or data.item.system.modes.SS data.item.system.modes.SA) data.item.system.modes.BF) data.item.system.modes.FA)}}
			<td>{{localize "shadowrun6.roll.firemode"}}</td>
			<td>
				<select name="fireMode" id="fireMode">
					{{selectOptions data.getModes selected=data.fireMode localize=true}}
				</select>
			</td>
			{{/if}}
			<td class="onlyFA" style="display:none">{{localize "shadowrun6.roll.fa_area"}}</td>
			<td class="onlyFA" style="display:none">
				<select id="fullAutoArea" name="fullAutoArea">
					<option value="1" data-item-incid="inc0">{{localize "shadowrun6.item.mode_fa_1m"}}</option>
					<option value="2" data-item-incid="inc1">{{localize "shadowrun6.item.mode_fa_2m"}}</option>
					<option value="3" data-item-incid="inc2">{{localize "shadowrun6.item.mode_fa_3m"}}</option>
					<option value="4" data-item-incid="inc2">{{localize "shadowrun6.item.mode_fa_4m"}}</option>
					<option value="5" data-item-incid="inc2">{{localize "shadowrun6.item.mode_fa_5m"}}</option>
					<option value="6" data-item-incid="inc2">{{localize "shadowrun6.item.mode_fa_6m"}}</option>
				</select>
			</td>
			<td class="onlyBF" style="display:none">{{localize "shadowrun6.roll.bf_type"}}</td>
			<td class="onlyBF" style="display:none">
				<select id="bfType" name="bfType">
					<option value="narrow_burst">{{localize "shadowrun6.roll.bf.narrow_burst"}}</option>
					<option value="wide_burst"  >{{localize "shadowrun6.roll.bf.wide_burst"}}</option>
				</select>
			</td>
		</tr>
		{{/if}}
    	<tr>
    	  	<td>{{localize "shadowrun6.roll.range"}}</td>
    	  	<td>
    	  		<select name="distance" id="distance">

				<!-- TODO rework #select -->
            	{{#select attackRating}}
            	{{#each data.calcAttackRating as |rating id|}}
					{{#iff rating '>' -1}}
            		<option value="{{rating}}" data-item-ar="{{rating}}" data-distance="{{id}}" name="{{id}}">{{localize (concat "shadowrun6.roll.ar_" id)}} - ({{rating}})</option>
					{{/iff}}
            	{{/each}}
            	{{/select}}
        		</select> 
    	  	</td>
			{{#if (or (or (eq data.item.system.type "WEAPON_FIREARMS")(eq data.item.system.type "WEAPON_RANGED"))(eq data.item.system.type "WEAPON_SPECIAL"))}}
			<td>{{localize "shadowrun6.weapon.ammo_loaded"}}</td>
			<td>
				<select id="ammoLoaded" name="ammoLoaded">
					{{selectOptions CONFIG.SR6.AMMO_TYPES selected=data.item.system.ammoLoaded localize=true}}
				</select>
			</td>
			{{/if}}
    	</tr>
   </table>
	<hr/>