<!-- Edge Token -->
<div class="edge">

	<div class="edge-coin clickable" data-translatex="0" data-rotatey="0" style="transform: translateX(0%) rotateY(0deg); transition: transform 0.6s;" data-action="onClickEdgeToken">
		<div class="edge-coin__face edge-coin__face_front">
			<img src="systems/shadowrun6-eden/images/EdgeToken.webp" style="border: 0px; height: auto; width: 96px; z-index: -1; position:absolute; filter: drop-shadow(0 0 4px #000000);" />
			<input name="edgeValueFront" class="edge-value" type="text" data-dtype="Number" value="{{system.attributes.edge.current}}" disabled>
		</div>
		<div class="edge-coin__face edge-coin__face_back">
			<img src="systems/shadowrun6-eden/images/EdgeToken.webp" style="border: 0px; height: auto; width: 96px; z-index: -1; position:absolute; filter: drop-shadow(0 0 4px #000000);" />
			<input name="edgeValueBack" class="edge-value" type="text" data-dtype="Number" value="{{system.attributes.edge.current}}" disabled>
		</div>
	</div>

</div>