{{#if system.attributes.edge}}
  <!-- Edge Token -->
  <div class="edge{{#if (not editable)}} inactive{{/if}}">
    <button type="button" class="edge-coin clickable" data-action="onClickEdgeToken" title="{{localize 'SR6.title.changeEdge'}}">
      <span class="edge-coin__face edge-coin__face--front">
        <img class="edge-coin__art" src="systems/shadowrun6-eden/images/EdgeToken.webp" alt="" draggable="false"/>
        <span class="edge-value">{{system.attributes.edge.current}}</span>
      </span>

      <span class="edge-coin__face edge-coin__face--back">
        <img class="edge-coin__art" src="systems/shadowrun6-eden/images/EdgeToken.webp" alt="" draggable="false"/>
        <span class="edge-value">{{system.attributes.edge.current}}</span>
      </span>
    </button>
  </div>
{{else}}
<div class="no-edge"></div>
{{/if}}