<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<div>
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="120" width="120" /><br/><br/>
	  </div>
	  <div class="header-fields">
		<h1><input data-field="name" type="text" value="{{actor.name}}" placeholder="{{localize 'shadowrun6.name' }}" /></h1>
		
		<div style="display:flex; flex-direction:row; align-items:center;">
		{{> "systems/shadowrun6-eden/templates/parts/vehicle-monitor.html" attributes=system.attributes}}
		</div>
	</div>
	</header>
	{{!-- Sheet Body --}}
   <section class="sheet-body">
		<div style="display:flex; flex-wrap: wrap;">
      	{{!-- Basics Tab --}}
         <div class="section">
         	<h2><input name="name" data-field="name" type="text" value="{{actor.name}}" placeholder="{{localize 'shadowrun6.name' }}" /></h2>
            {{> "systems/shadowrun6-eden/templates/parts/vehicle-stats.html"}}
            {{> "systems/shadowrun6-eden/templates/parts/vehicle-speed.html"}}
         </div>
		    {{> "systems/shadowrun6-eden/templates/parts/vehicle-weapons.html"}}
            {{> "systems/shadowrun6-eden/templates/parts/vehicle-piloting.html"}}
			{{> "systems/shadowrun6-eden/templates/parts/section-autosoft.html"}}

		</div>
    </section>
</form>
