@import url('https://fonts.googleapis.com/css2?amily=Prosto One:wght@400;700&display=swap');

:root body, 
body.game.foundry-modern .app {
    --font-h4: "Prosto One", sans-serif;
    --font-h4-size: var(--font-size-30);
}

.game h4.divider {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.shadowrun6.sheet.item {
  width: 745px;
}

/* .sr6.sheet.matrix-operations { */
  /* width: 675px; */
/* } */

.shadowrun6.sheet.actor {
  width: 995px;
}
.sr6 .pan .section-header,
.sr6 .pan .section-row {
    grid-template-columns: minmax(0, 1fr) 8.75em 5em;
}
.sr6 .pan .pan-children .section-row,
.sr6 .pan li[data-document-class="Item"] .section-row {
    grid-template-columns: minmax(0, 1fr) max-content 8.75em 5em;
}
