<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2><input name="name" type="text" value="{{item.name}}" data-field="name" /></h2>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" style="background-color: var(--highlight-color)"/>
        <div class="section">
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.contact.type'}}</th>
                    <th>{{localize 'shadowrun6.contact.rating'}}</th>
                    <th>{{localize 'shadowrun6.contact.loyalty'}}</th>
                    <th>{{localize 'shadowrun6.contact.favors'}}</th>
                </tr>
                <tr>
                    <td style="width:8em"> <input name="system.type" class="box" type="text" value="{{item.system.type}}" data-field="system.type"  /></td>
                    <td class="box centered"> <input name="system.rating" class="box" type="number" value="{{item.system.rating}}" data-field="system.rating" style="width:2em" /></td>
                    <td class="box centered"> <input name="system.loyality" class="box" type="number" value="{{item.system.loyalty}}" data-field="system.loyalty" style="width:2em" /></td>
                    <td class="box centered"> <input name="system.favors" class="box" type="number" value="{{item.system.favors}}" data-field="system.favors" style="width:2em" /></td>
                </tr>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            {{addEditor owner editable "description"}}
        </div>
    </section>
</form>