<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2><input name="name" type="text" value="{{item.name}}" data-field="name" /></h2>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}"
            style="background-color: var(--highlight-color)" />
        <div class="section">
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.complexform.skill'}}</th>
                    <th>{{localize 'shadowrun6.complexform.oppAttr1'}}</th>
                    <th>{{localize 'shadowrun6.complexform.oppAttr2'}}</th>
                </tr>
                <tr>
                    <!--// select leer, electronics, cracking -->
                    <td class="box centered">
                        <select name="complexFormSkill" data-field="system.skill">
                            {{selectOptions config.COMPLEX_FORMS.skills selected=item.system.skill blank=(localize "shadowrun6.label.none") localize=true}}
                        </select>
                    </td>
                    <td class="box centered">
                        <select name="complexFormOppAttr1" data-field="system.oppAttr1">
                            {{selectOptions config.COMPLEX_FORMS.attributes selected=item.system.oppAttr1 blank=(localize "shadowrun6.label.none") localize=true}}
                        </select>
                    </td>
                    <td class="box centered">
                        <select name="complexFormOppAttr1" data-field="system.oppAttr2">
                            {{selectOptions config.COMPLEX_FORMS.attributes selected=item.system.oppAttr2 blank=(localize "shadowrun6.label.none") localize=true}}
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>{{localize 'shadowrun6.complexform.duration'}}</th>
                    <th>{{localize 'shadowrun6.complexform.fading'}}</th>
                    <th>{{localize 'shadowrun6.complexform.threshold'}}</th>
                </tr>
                <tr>
                    <td class="box centered">
                        <select name="complexFormDuration" data-field="system.duration">
                            {{selectOptions config.spell_duration selected=item.system.duration localize=true}}
                        </select>
                    </td>
                    <td class="box centered">
                        <input name="fading" data-field="system.fading" value="{{item.system.fading}}" type="text" class="box centered" style="width:2em" />
                    </td>
                    <td class="box centered">
                        <input name="threshold" data-field="system.threshold" value="{{item.system.threshold}}" type="text" class="box centered" style="width:2em" />
                    </td>
                </tr>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            {{addEditor owner editable "description"}}
        </div>
    </section>
</form>