<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2><input name="name" type="text" value="{{item.name}}" data-field="name" /></h2>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" style="background-color: var(--highlight-color)"/>
        <div class="section">
            <h3>{{localize 'shadowrun6.item.category'}}</h3>
            <table>
                <tr>
                    <td><span style="vertical-align: middle;">{{localize 'shadowrun6.item.mastyle.category.grappling'}}</span>
                        <input name="grappling" style="vertical-align: middle;" type="checkbox" {{checked item.system.category.grappling}}
                            data-field="system.category.grappling"  />
                    </td>
                    <td><span style="vertical-align: middle;">{{localize 'shadowrun6.item.mastyle.category.mobility'}}</span>
                        <input name="mobility" style="vertical-align: middle;" type="checkbox" {{checked item.system.category.mobility}}
                            data-field="system.category.mobility"  />
                    </td>
                    <td><span style="vertical-align: middle;">{{localize 'shadowrun6.item.mastyle.category.striking'}}</span>
                        <input name="striking" style="vertical-align: middle;" type="checkbox" {{checked item.system.category.striking}}
                            data-field="system.category.striking" />
                    </td>
                    <td><span style="vertical-align: middle;">{{localize 'shadowrun6.item.mastyle.category.weapon'}}</span>
                        <input name="weapon" style="vertical-align: middle;" type="checkbox" {{checked item.system.category.weapon}}
                            data-field="system.category.weapon" />
                    </td>
                    <td><span style="vertical-align: middle;">{{localize 'shadowrun6.item.mastyle.category.ranged'}}</span>
                        <input name="ranged" style="vertical-align: middle;" type="checkbox" {{checked item.system.category.ranged}}
                            data-field="system.category.ranged" />
                    </td>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            {{addEditor owner editable "description"}}
        </div>
    </section>
</form>