<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2><input name="name" type="text" value="{{item.name}}" data-field="name" /></h2>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" style="background-color: var(--highlight-color)"/>
        <div class="section">
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.adeptpower.activation'}}</th>
                    <th>{{localize 'shadowrun6.adeptpower.cost'}}</th>
                    <th>{{localize 'shadowrun6.adeptpower.haslevel'}}</th>
                </tr>
                <tr>
                    <td>
                        <select name="adeptPowerActivation" data-field="system.activation">
                            {{selectOptions config.adeptpower_activation selected=item.system.activation localize=true}}
                        </select>
                    </td>
                    <td>
                        <input name="cost" data-field="system.cost" value="{{item.system.cost}}" type="number" class="box centered" />
                    </td>
                    <td>
                        <input name="hasLevel" style="vertical-align: middle;" type="checkbox" {{checked item.system.hasLevel}}
                            data-field="system.hasLevel" />
                    </td>
                </tr>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>

            {{addEditor owner editable "description"}}
        </div>
    </section>
</form>