<form class="flexcol {{cssClass}}" autocomplete="off">
{{> "systems/shadowrun6-eden/templates/item/item-sheet-header.hbs" }}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="section">
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.sin.quality'}}</th>
                </tr>
                <tr>
                    <td>
                        <select name="system.quality" data-field="system.quality">
                            {{selectOptions config.SIN_QUALITY selected=item.system.quality localize=true}}
                        </select>
                    </td>
                </tr>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            {{editor item.enriched.description target="system.description" fieldName=item.system.description button=true owner=owner editable=editable engine="prosemirror"}}
        </div>
    </section>
</form>