<form class="flexcol {{cssClass}}" autocomplete="off">
{{> "systems/shadowrun6-eden/templates/item/item-sheet-header.hbs" }}

        {{!-- Sheet Body --}}
        <section class="sheet-body">
                <div class="section">

                        <h3>{{localize 'shadowrun6.item.feature'}}</h3>
                        <table>
                                <tr>
                                        <th>{{localize 'shadowrun6.label.threshold'}}</th>
                                        <th>{{localize 'shadowrun6.ritualfeatures.anchored'}}</th>
                                        <th>{{localize 'shadowrun6.ritualfeatures.material_link'}}</th>
                                        <th>{{localize 'shadowrun6.ritualfeatures.minion'}}</th>
                                        <th>{{localize 'shadowrun6.ritualfeatures.spotter'}}</th>
                                </tr>
                                <tr style="text-align:center">
                                        <td class="centered">
                                                <input name="system.threshold" data-field="system.threshold" value="{{item.system.threshold}}" type="number" class="box centered" style="width:2em"/>
                                        </td>
                                        <td class="centered">
                                                <input name="system.features.anchored" style="vertical-align: middle;" type="checkbox" {{checked item.system.features.anchored}} data-field="system.features.anchored" />
                                        </td>
                                        <td class="centered">
                                                <input name="system.features.material_link" style="vertical-align: middle;" type="checkbox" {{checked item.system.features.material_link}} data-field="system.features.material_link" />
                                        </td>
                                        <td class="centered">
                                                <input name="system.features.minion" style="vertical-align: middle;" type="checkbox" {{checked item.system.features.minion}} data-field="system.features.minion" />
                                        </td>
                                        <td class="centered">
                                                <input name="system.features.spotter" style="vertical-align: middle;" type="checkbox" {{checked item.system.features.spotter}} data-field="system.features.spotter" />
                                        </td>
                                </tr>
                        </table>

                        <h3>{{localize 'shadowrun6.item.description'}}</h3>
            {{editor item.enriched.description target="system.description" fieldName=item.system.description button=true owner=owner editable=editable engine="prosemirror"}}

                </div>
        </section>
</form>

{{> "systems/shadowrun6-eden/templates/item/item-effects.hbs" }}