<form class="flexcol {{cssClass}}" autocomplete="off">
{{> "systems/shadowrun6-eden/templates/item/item-sheet-header.hbs" }}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="section">
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.spell.type'}}</th>
                    <th>{{localize 'shadowrun6.adeptpower.activation'}}</th>
                    <th>{{localize 'shadowrun6.spell.range'}}</th>
                    <th>{{localize 'shadowrun6.spell.duration'}}</th>
                </tr>
                <tr>
                    <td>
                        <select name="system.type" data-field="system.type">
                            {{selectOptions config.spell_type selected=item.system.type localize=true}}
                        </select>
                    </td>
                    <td>
                        <select name="system.action" data-field="system.action">
                            {{selectOptions config.adeptpower_activation selected=item.system.action
                            localize=true}}
                        </select>
                    </td>
                    <td>
                        <select name="system.range" data-field="system.range">
                            {{selectOptions config.spell_range selected=item.system.range localize=true}}
                        </select>
                    </td>
                    <td>
                    <select name="system.duration" data-field="system.duration">
                        {{selectOptions config.spell_duration selected=item.system.duration localize=true}}
                    </select>
                </td>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            {{editor item.enriched.description target="system.description" fieldName=item.system.description button=true owner=owner editable=editable engine="prosemirror"}}
        </div>
    </section>
</form>

{{> "systems/shadowrun6-eden/templates/item/item-effects.hbs" }}