<form class="flexcol {{cssClass}}" autocomplete="off">
{{> "systems/shadowrun6-eden/templates/item/item-sheet-header.hbs" }}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="section">
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.adeptpower.activation'}}</th>
                    <th>{{localize 'shadowrun6.adeptpower.cost'}}</th>
                    <th>{{localize 'shadowrun6.adeptpower.haslevel'}}</th>
                </tr>
                <tr>
                    <td>
                        <select name="system.activation" data-field="system.activation">
                            {{selectOptions config.adeptpower_activation selected=item.system.activation localize=true}}
                        </select>
                    </td>
                    <td>
                        <input name="system.cost" data-field="system.cost" value="{{item.system.cost}}" type="number" class="box centered" />
                    </td>
                    <td>
                        <input name="system.hasLevel" style="vertical-align: middle;" type="checkbox" {{checked item.system.hasLevel}}
                            data-field="system.hasLevel" />
                    </td>
                </tr>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>

            {{editor item.enriched.description target="system.description" fieldName=item.system.description button=true owner=owner editable=editable engine="prosemirror"}}
        </div>
    </section>
</form>

{{> "systems/shadowrun6-eden/templates/item/item-effects.hbs" }}