<form class="flexcol {{cssClass}}" autocomplete="off">
{{> "systems/shadowrun6-eden/templates/item/item-sheet-header.hbs" }}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="section">
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.lifestyle.type'}}</th>
                    <th>{{localize 'shadowrun6.lifestyle.cost'}}</th>
                    <th>{{localize 'shadowrun6.lifestyle.paid'}}</th>
                    <th>{{localize 'shadowrun6.lifestyle.sin'}}</th>
                </tr>
                <tr>
                    <td>
                        <select name="lifestyleVtype" data-field="system.type">
                            {{selectOptions config.LIFESTYLE_TYPE selected=item.system.type localize=true}}
                        </select>
                    </td>
                    <td class="centered">
                        <span class="input-symbol-nuyen"><input name="cost" class="box" type="number" value="{{item.system.cost}}" data-field="system.cost" /></span>
                    </td>
                    <td class="centered">
                        <span class="input-symbol-nuyen"><input name="paid" class="box" type="number" value="{{item.system.paid}}" data-field="system.paid" /></span>
                    </td>
                    <td><input name="sin" class="box" type="text" value="{{item.system.sin}}" data-field="system.sin" /></td>
                </tr>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            {{editor item.enriched.description target="system.description" fieldName=item.system.description button=true owner=owner editable=editable engine="prosemirror"}}
        </div>
    </section>
</form>