<form class="flexcol {{cssClass}}" autocomplete="off" style="min-width: 605px; min-width: fit-content;">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2><input name="name" type="text" value="{{item.name}}" data-field="name" /></h2>
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}"
            style="background-color: var(--color-light-2);" />
        <div class="section">
            <table>
                <tr>
                    <!--Typ, Subtyp, Verfügbarkeit, Preis-->
                    <th>{{localize 'shadowrun6.item.type'}}</th>
                    <th>{{localize 'shadowrun6.item.subtype'}}</th>
                    <th>{{localize 'shadowrun6.label.column.rating'}}</th>
                    <th>{{localize 'shadowrun6.label.column.count'}}</th>
                    <th>{{localize 'shadowrun6.item.availability'}}</th>
                    <th>{{localize 'shadowrun6.item.price'}}</th>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <select name="gearType" data-field="system.type" data-field="system.type" class="typeselect">
                            {{selectOptions config.GEAR_TYPES selected=item.system.type localize=true}}
                        </select>
                    </td>
                    <td style="text-align: center">
                        <select name="gearSubtype" data-field="system.subtype" data-field="system.subtype" class="subtypeselect">
                            {{selectOptions config.subtypeList selected=item.system.subtype localize=true blank=(localize "shadowrun6.label.none") }}
                        </select></td>

                    <td style="text-align: center"><input name="needsRating" style="vertical-align: middle;" type="checkbox" {{checked item.system.needsRating}}
                            data-field="system.needsRating" /></td>
                    <td style="text-align: center"><input name="countable" style="vertical-align: middle;" type="checkbox" {{checked item.system.countable}}
                            data-field="system.countable" /></td>

                    <td style="text-align: center"><input name="availDef" type="text" value="{{item.system.availDef}}" data-field="system.availDef" class="box centered"
                            style="width: 2em" /></td>
                    <td style="text-align: center"><span class="input-symbol-nuyen"><input name="priceDef" type="text" value="{{item.system.priceDef}}" data-field="system.priceDef" class="box centered"
                            style="width: 5em" /></span></td>
                </tr>
            </table>
            <!-- ********** WAFFEN ********** -->
            {{#if (or
            (eq item.system.type "WEAPON_FIREARMS")
            (eq item.system.type "WEAPON_RANGED")
            (eq item.system.type "WEAPON_CLOSE_COMBAT")
            (eq item.system.type "WEAPON_SPECIAL"))}}
            <table>
                <tr>
                    <!--SCHADEN MODUS ANGRIFFSWERTE MUNITION-->
                    <th colspan="2">{{localize 'shadowrun6.item.damage'}}</th>
                    <th colspan="4">{{localize 'shadowrun6.item.mode'}}</th>
                    <th colspan="5">{{localize 'shadowrun6.item.attackvalues'}}</th>
                    <!-- <th>{{localize 'shadowrun6.item.ammunition'}}</th> -->
                </tr>
                {{log "shadowrun6-gear-sheet.html this=" item.system}}
                <tr>
                    <td style="text-align: right">
                        <input name="dmg" type="number" value="{{item.system.dmg}}" data-field="system.dmg" class="box centered" style="width: 2.5em;" />
                    </td>
                    <td style="text-align: left">
                        <select name="gearStun" data-field="system.stun">
                            {{selectOptions config.WEAPON_STUN_OPTION selected=item.system.stun localize=true}}
                        </select>
                    </td>
					<td style="width: 4em; text-align: center">
                        <span style="vertical-align: middle;">{{localize 'shadowrun6.item.mode_ss'}}</span>
                        <input name="modesSS" style="vertical-align: middle;" type="checkbox" {{checked item.system.modes.SS}} data-field="system.modes.SS" />
                    </td>
                    <td style="width: 4em; text-align: center">
                        <span style="vertical-align: middle;">{{localize 'shadowrun6.item.mode_sa'}}</span>
                        <input name="modesSA" style="vertical-align: middle;" type="checkbox" {{checked item.system.modes.SA}} data-field="system.modes.SA" />
                    </td>
                    <td style="width: 4em; text-align: center">
                        <span style="vertical-align: middle;">{{localize 'shadowrun6.item.mode_bf'}}</span>
                        <input name="modesBF" style="vertical-align: middle;" type="checkbox" {{checked item.system.modes.BF}} data-field="system.modes.BF" />
                    </td>
                    <td style="width: 4em; text-align: center">
                        <span style="vertical-align: middle;">{{localize 'shadowrun6.item.mode_fa'}}</span>
                        <input name="modesFA" style="vertical-align: middle;" type="checkbox" {{checked item.system.modes.FA}} data-field="system.modes.FA" />
                    </td>

                    {{#each item.system.attackRating as |arating id|}}
                    <td style="text-align: center" data-array="system.attackRating">
                        <input name="attackRating{{id}}" type="number" value="{{arating}}" data-array-field data-index="{{id}}" style="width:2em" class="centered box" />
                    </td>
                    {{/each}}
                </tr>
            </table>
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.item.skill'}}</th>
                    <th>{{localize 'shadowrun6.item.skillspec'}}</th>

                    <th>
                        {{#if (or (eq item.system.skill "close_combat") (eq item.system.skillSpec "brawling")) }}
                        {{#if rollStrengthCombat}}
                            {{localize 'shadowrun6.item.strWeapon'}}
                        {{/if}}
                        {{else}}
                            {{localize 'shadowrun6.item.ammunition'}}
                        {{/if}}
                    </th>
                    {{#if highStrengthReducesRecoil}}
                    <th>
                        {{localize 'shadowrun6.label.dual_hand'}}
                    </th>
                    {{/if}}
                </tr>
                <tr>
                    <td style="text-align: center">
                        <select name="gearSkill" data-field="system.skill" data-field="system.skill">
                            <option value="">-</option>
                            {{selectOptions config.SKILLS_WEAPON selected=item.system.skill localize=true}}
                        </select>
                    </td>
                    <td style="text-align: center">
                        {{#if item.system.skill}}
        	   			<select name="gearSkillSpec" data-field="system.skillSpec" data-field="system.skillSpec">
                            {{selectOptions (lookup config.skill_special item.system.skill) selected=item.system.skillSpec localize=true}}
         				</select>
                         {{/if}}
                    </td>
                    <td style="text-align: center">
                        {{#if (or (eq item.system.skill "close_combat") (eq item.system.skillSpec "brawling")) }}
                        {{#if rollStrengthCombat}}
                            <input name="strWeapon" style="vertical-align: middle;" type="checkbox" {{checked item.system.strWeapon}} data-field="system.strWeapon" />
                        {{/if}}
                        {{else}}
                            <input name="ammocap" type="text" value="{{item.system.ammocap}}" data-field="system.ammocap" class="box centered" style="width: 3.4em" />
                        {{/if}}
                    </td>
                    {{#if highStrengthReducesRecoil}}
                    <td style="text-align: center">
                        <input name="dualHand" style="vertical-align: middle;" type="checkbox" {{checked item.system.dualHand}} data-field="system.dualHand" />
                    </td>
                    {{/if}}
                </tr>
            </table>
            {{/if}}
            <!-- ********** Rüstung ********** -->
            {{#if (eq item.system.type "ARMOR")}}
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.item.defencerating'}}</th>
                    <th>{{localize 'shadowrun6.item.capacity'}}</th>
                    <th>{{localize 'shadowrun6.item.social'}}</th>
                    <th>{{localize 'shadowrun6.item.natural'}}</th>
                </tr>
                <tr>
                    <td><input name="defense" type="number" value="{{item.system.defense}}" data-field="system.defense"
                            class="box centered" />
                    </td>
                    <td><input name="capacity" type="number" value="{{item.system.capacity}}" data-field="system.capacity"
                            class="box centered" /></td>
                    <td><input name="social" type="number" value="{{item.system.social}}" data-field="system.social"
                            class="box centered" />
                    </td>
                    <td><input name="natural" style="vertical-align: middle;" type="checkbox" {{checked item.system.natural}}
                            data-field="system.natural" /></td>
                </tr>
            </table>
            {{/if}}
            <!-- ********** BIOWARE / NANOWARE ********** -->
            {{#if (or
            (eq item.system.type "BIOWARE")
            (eq item.system.type "NANOWARE")
            )}}
            <label for="ware_essence">{{localize 'shadowrun6.item.essence'}}</label>
            <input name="essenceBioNano" type="number" value="{{item.system.essence}}" data-field="system.essence" id="ware_essence"
                class="box centered" />
            {{/if}}
            <!-- ********** CYBERWARE ********** -->
            {{#if (eq item.system.type "CYBERWARE")}}
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.item.essence'}}</th>
                    <th>{{localize 'shadowrun6.item.capacity'}}</th>
                </tr>
                <tr>
                    <td> <input name="essenceCyber" type="number" value="{{item.system.essence}}" data-field="system.essence" id="ware_essence"
                            class="box centered" /></td>
                    <td> <input name="capacity" type="number" value="{{item.system.capacity}}" data-field="system.capacity" id="ware_cap"
                            class="box centered" /></td>
                </tr>
            </table>
            {{/if}}
            <!-- ********** COMLINK ********** -->
            {{#if (or
                (eq item.system.subtype "COMMLINK")
                (eq item.system.subtype "RIGGER_CONSOLE")
                (eq item.system.subtype "CYBERJACK")
            )}}
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.label.matrixMonitor'}}</th>
                    <th>{{localize 'shadowrun6.label.devRating'}}</th>
                    <th>{{localize 'shadowrun6.label.progSlots'}}</th>
                    <th>{{localize 'shadowrun6.label.dataproc.short'}}</th>
                    <th>{{localize 'shadowrun6.label.firewall.short'}}</th>
                </tr>
                <tr>
                    <td class="box centered">
                        <input name="dmg" type="number" value="{{item.system.dmg}}" data-field="system.dmg" class="box centered" style="width:2em" />
                         /
                        <input type="number" value="{{item.maxtrixMonitor}}" class="box centered" style="width:2em" disabled>
                    </td>
                    <td class="box centered">
                        <input name="devRating" type="number" value="{{item.system.devRating}}" data-field="system.devRating" class="box centered" style="width:2em" />
                    </td>
                    <td class="box centered">
                        <input name="progSlots" type="number" value="{{item.system.progSlots}}" data-field="system.progSlots" class="box centered" style="width:2em" />
                    </td>
                    <td class="box centered">
                        <input name="matrixD" type="number" value="{{item.system.d}}" data-field="system.d" class="box centered" style="width:2em" />
                    </td>
                    <td class="box centered">
                        <input name="matrixF" type="number" value="{{item.system.f}}" data-field="system.f" class="box centered" style="width:2em" />
                    </td>
                </tr>
            </table>
            {{/if}}
            <!-- ********** CYBERDECK ********** -->
            {{#if (eq item.system.subtype "CYBERDECK")}}
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.label.matrixMonitor'}}</th>
                    <th>{{localize 'shadowrun6.label.devRating'}}</th>
                    <th>{{localize 'shadowrun6.label.progSlots'}}</th>
                    <th>{{localize 'shadowrun6.label.attack.short'}}</th>
                    <th>{{localize 'shadowrun6.label.sleaze.short'}}</th>
                </tr>
                <tr>
                    <td class="box centered">
                        <input name="dmg" type="number" value="{{item.system.dmg}}" data-field="system.dmg" class="box centered" style="width:2em" />
                         /
                        <input type="number" value="{{item.maxtrixMonitor}}" class="box centered" style="width:2em" disabled>
                    </td>
                    <td class="box centered"> <input name="devRatingDeck" type="number" value="{{item.system.devRating}}"
                            data-field="system.devRating" class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input name="progSlotsDeck" type="number" value="{{item.system.progSlots}}"
                            data-field="system.progSlots" class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input name="matrixA" type="number" value="{{item.system.a}}" data-field="system.a"
                            class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input name="matrixS" type="number" value="{{item.system.s}}" data-field="system.s"
                            class="box centered" style="width:2em" /></td>
                </tr>
            </table>
            {{/if}}
            <!-- ********** VEHICLES / DRONES ********** -->
            {{#if (or
            (eq item.system.type "VEHICLES")
            (eq item.system.type "DRONES")
            )}}
            <table>
                <tr>
                    <th colspan="2">{{ localize 'shadowrun6.section.vehicles.column.handling' }}</th>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.acc' }}</th>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.spdi' }}</th>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.tspd' }}</th>
                    <th colspan="2">{{ localize 'shadowrun6.section.vehicles.column.vtype' }}</th>
                </tr>
                <tr>
                    <td class="box centered" colspan="2"> <input name="handlOn" type="number" value="{{item.system.handlOn}}"
                            data-field="system.handlOn" class="box centered" style="width:2em" /> / <input name="" type="number"
                            value="{{item.system.handlOff}}" data-field="system.handlOff" class="box centered"
                            style="width:2em" /></td>
                    <td class="box centered"> <input name="accOn" type="number" value="{{item.system.accOn}}" data-field="system.accOn"
                            class="box centered" style="width:2em" /> / <input name="accOff" type="number" value="{{item.system.accOff}}" data-field="system.accOff"
                            class="box centered" style="width:2em" /> </td>
                    <td class="box centered"> <input name="spdiOn" type="number" value="{{item.system.spdiOn}}" data-field="system.spdiOn"
                            class="box centered" style="width:2em" /> / <input name="spdiOff" type="number" value="{{item.system.spdiOff}}" data-field="system.spdiOff"
                            class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input name="tspd" type="number" value="{{item.system.tspd}}" data-field="system.tspd"
                            class="box centered" style="width:3em" /></td>
                    <td colspan="2" class="centered"> <select name="gearVtype" data-field="system.vtype" data-field="system.vtype" class="typeselect">
                            {{selectOptions config.VEHICLE_TYPE selected=item.system.vtype localize=true}}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.bod' }}</th>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.arm' }}</th>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.pil' }}</th>
                    <th>{{ localize 'shadowrun6.section.vehicles.column.sen' }}</th>
                    {{#if (eq item.system.type "VEHICLES")}}
                    <th>{{ localize 'shadowrun6.section.vehicles.column.sea' }}</th>
                    {{else}}
                    <th></th>
                    {{/if}}
                    <th>{{localize 'shadowrun6.label.matrixMonitor'}}</th>
                </tr>
                <tr>
                    <td class="box centered"> <input name="bod" type="number" value="{{item.system.bod}}" data-field="system.bod"
                            class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input name="arm" type="number" value="{{item.system.arm}}" data-field="system.arm"
                            class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input name="pil" type="number" value="{{item.system.pil}}" data-field="system.pil"
                            class="box centered" style="width:2em" /></td>
                    <td class="box centered"> <input name="sen" type="number" value="{{item.system.sen}}" data-field="system.sen"
                            class="box centered" style="width:2em" /></td>
                    {{#if (eq item.system.type "VEHICLES")}}
                    <td class="box centered"> <input name="sea" type="number" value="{{item.system.sea}}" data-field="system.sea"
                            class="box centered" style="width:2em" /></td>
                    {{else}}
                    <td></td>
                    {{/if}}
                    <td class="box centered">
                        <input name="dmg" type="number" value="{{item.system.dmg}}" data-field="system.dmg" class="box centered" style="width:2em" />
                         /
                        <input type="number" value="{{item.maxtrixMonitor}}" class="box centered" style="width:2em" disabled>
                    </td>

                </tr>
            </table>
            {{/if}}
            <h3>{{localize 'shadowrun6.item.accessories'}}</h3>
            {{{addEditor owner editable "accessories"}}}
            <!-- ********** Beschreibung ********** -->
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            {{addEditor owner editable "description"}}
    </section>
</form>