<form class="flexcol {{cssClass}}" autocomplete="off" style="padding-right: 100px">
  	{{#if system.genesisID}}
	<h2>{{localize (concat (concat "critterpower." system.genesisID) ".name")}}</h2>
	<h4  style="font-style: italic">{{localize (concat (concat "critterpower." system.genesisID) ".src")}}</h4>
   {{/if}}

   <table class="vehicle-stats-table" style="width: 20em">
	<thead>
	<tr>
		<th style="align: center">{{ localize 'shadowrun6.spell.type' }}</th>
		<th>{{ localize 'shadowrun6.critterpower.actiontitle' }}</th>
		<th>{{ localize 'shadowrun6.spell.range' }}</th>
		<th>{{ localize 'shadowrun6.spell.duration' }}</th>
	</tr>
	</thead>
	<tbody>
	<tr style="text-align:center">
	  <td>{{localize (lookup config.spell_type          system.type )}}</td>
	  <td>{{localize (lookup config.critterpower_action system.action )}}</td>
	  <td>{{localize (lookup config.spell_range         system.range )}}</td>
	  <td>{{localize (lookup config.spell_duration      system.duration )}}</td>
	</tr>
	</tbody>
   </table>

  	{{#if system.genesisID}}
	<div class="data-desc" id="data-desc"/>
	{{else}}
	<h2>{{item.name}}</h2>
	<div class="data-desc" id="data-desc">{{system.description}}</div>
   {{/if}}
</form>