<form class="flexcol {{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h2><input name="name" type="text" value="{{item.name}}" data-field="name" /></h2>
        <div class="section">
            <table>
                <tr>
                    <th>{{localize 'shadowrun6.spell.type'}}</th>
                    <th>{{localize 'shadowrun6.adeptpower.activation'}}</th>
                    <th>{{localize 'shadowrun6.spell.range'}}</th>
                    <th>{{localize 'shadowrun6.spell.duration'}}</th>
                </tr>
                <tr>
                    <td>
                        <select name="critterPowerType" data-field="system.type">
                            {{selectOptions config.spell_type selected=item.system.type localize=true}}
                        </select>
                    </td>
                    <td>
                        <select name="critterPowerAction" data-field="system.action">
                            {{selectOptions config.adeptpower_activation selected=item.system.action
                            localize=true}}
                        </select>
                    </td>
                    <td>
                        <select name="critterPowerRange" data-field="system.range">
                            {{selectOptions config.spell_range selected=item.system.range localize=true}}
                        </select>
                    </td>
                    <td>
                    <select name="critterPowerDuration" data-field="system.duration">
                        {{selectOptions config.spell_duration selected=item.system.duration localize=true}}
                    </select>
                </td>
            </table>
            <h3>{{localize 'shadowrun6.item.description'}}</h3>
            {{addEditor owner editable "description"}}
        </div>
    </section>
</form>