:root,
.themed.theme-light,
.themed.theme-dark {
	--highlight-color: #892378;
	--accent-color: #00a8ff;
	--section-background: #efefeb;
	--tablehead-background: #e0e0d9;
	--input-color: #202020;
	/* Change red Foundry highlights to purple  */
	--color-text-light-highlight: #ffffff;
	--color-border-highlight-alt: #960570;
	--color-border-highlight: #C58FB2;
	--color-shadow-primary: #960570;
	--color-shadow-highlight: #C58FB2;	
	--color-border-dark-secondary: #C58FB2;	
	--color-underline-header: #892378;
	--color-warm-1: #892378;
	--color-warm-2: #892378;
	--toggle-border-color: #892378;
    --toggle-active-bg-color: #892378;
    --toggle-active-border-color: #C58FB2;
	--color-cool-4: #501446;
	--control-hover-border-color: #892378;
	--color-light-5: #C58FB2;
	--font-h4-size: var(--font-size-14);
	--chat-input-height: 124px;
	--contrast-color: #ffffff;
}
:root,
.themed.theme-light {
	--contrast-color: #000000;
}
.themed.theme-dark .ui-control, .themed.theme-dark .placeable-hud, .themed.theme-dark #measurement .waypoint-label {
	--color-cool-4: #31092b;
	--control-border-color: #31092b;
	--control-hover-border-color: #892378;
}
.themed.theme-light {
	--sidebar-background: url("/systems/shadowrun6-eden/images/background.webp");
}
body.theme-light .application {
	--background: url("/systems/shadowrun6-eden/images/background.webp") repeat;
}
.foundry-modern hr {
	background-image: linear-gradient(90deg, transparent 0%, #892378 50%, transparent 100%);
	margin: 0.5em 0;
}
.foundry-modern .chat-message hr {
	border-top: 1px solid #b5b3a4;
    border-bottom: 1px solid #f0f0e0;
}
.foundry-modern .chat-message a.button,
.foundry-modern .chat-message button {
	--button-background-color: rgba(255, 255, 240, 0.8);
	width: 100%;
}
.themed.theme-light input, .themed.theme-light select, .themed.theme-light textarea {
	--input-background-color: rgba(255, 255, 240, 0.8);
}

.game .window-app.app.shadowrun6,
#sidebar-content .tab {
    box-shadow: 0 0 10px var(--color-shadow-primary);
	/* 8405c9 */
}
.sr6-dice-roll-v12 {
	cursor: pointer;
}

.themed.theme-light .app.window-app.dialog .window-content, 
.themed.theme-light #chat-form textarea,
.themed.theme-light .window-app .window-content,
.themed.theme-light .application .window-content,
body.game .app.window-app .window-content,
.chat-message  {
	background: url("/systems/shadowrun6-eden/images/background.webp") repeat;
	background-position: left top;
}

body.game .shadowrun6.actor .window-content {
	background-image: url("../images/borderRight.webp"), url("../images/background.webp");
	background-position: right top, left top;
	background-repeat: no-repeat, repeat;
	scrollbar-gutter: stable;
}

body.game .app.window-app.sidebar-popout .window-content {
	background-image: none;
	background: rgba(0, 0, 0, 0.3);
}

body.game .sheet.journal-sheet .window-content {
	background-image: none;
}

body.game .sheet.journal-entry .journal-entry-content,
body.game .sheet.journal-entry-page .window-content {
	background: url("/systems/shadowrun6-eden/images/background.webp") repeat;
}

button.ui-control[aria-pressed=true], a.ui-control[aria-pressed=true], li.ui-control[aria-pressed=true], .placeable-hud .control-icon[aria-pressed=true], .placeable-hud input[aria-pressed=true] {
	border: 1px solid var(--color-border-highlight-alt);
    border-bottom: 1px solid var(--color-border-highlight);
    box-shadow: 0 0 10px var(--color-shadow-highlight);
}

.theme-light .directory .directory-item img {
	margin: 2px;
	border-radius: 5px;
	box-shadow: 0 0 5px 0px #892378, inset 0 0 20px #000;
}
body.game .app table tr:nth-child(even) {
	background-color: unset;
}
table thead, table tfoot {
	border: 0;
}
body.game .app table tr th:first-child {
	padding-left: 3px;
}
.foundry-modern .settings-sidebar .info .title {
	font-size: var(--font-size-24);
	font-weight: 400;
}
.foundry-modern .settings-sidebar h4 {
	font-size: var(--font-size-14);
}
.foundry-modern #hotbar {
	--hotbar-size: 46px;
}
.foundry-modern #hotbar #action-bar .slot {
	border-radius: 5px;
}
.foundry-modern #chat-notifications .chat-input {
	height: 46px;	
}
.foundry-modern #chat-notifications .chat-input:focus {
    height: var(--chat-input-height);
}
.foundry-modern .chat-log table {
	--color-border-light-tertiary: #7a7971;
    width: 100%;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.05);
    border-top: 1px solid var(--color-border-light-tertiary);
    border-bottom: 1px solid var(--color-border-light-tertiary);
    margin: 0.5em 0;
}
.foundry-modern .chat-log table th {
    padding: 0.25em 0;
}
.foundry-modern .chat-log table tbody tr {
    background-color: unset;
}

.combat-sidebar .combat-tracker .combatant {
	gap: var(--element-spacing-half);
}
.foundry-modern .combat-sidebar .combat-tracker .combatant-controls {
	gap: calc(var(--element-spacing-half)/2);
}
.foundry-modern .combat-sidebar .combat-tracker .combatant-shadowrun {
	border-left: 1px var(--contrast-color) dotted;
	margin-left: calc(var(--element-spacing-half)/2);
	padding-left: calc(var(--element-spacing-half)/2);
}
.foundry-modern .combat-sidebar .combatant-shadowrun button.active {
	color: var(--button-hover-background-color);
}
.foundry-modern .combat-sidebar .combatant-shadowrun button.active:hover {
	color: var(--button-hover-text-color);
}
.foundry-modern .application.journal-sheet .journal-entry-pages {
	color: var(--color-dark-2);
}