.shadowrun6 .window-header::after {
	display: block;
	content: "";
	position: absolute;
	width: 200px;
	height: 36px;
	left: 50%;
	top: -14px;
	margin-left: -100px;
	background: url(../images/SR6Logo2.webp);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
  pointer-events: none;
  -webkit-filter: drop-shadow(0px 0px 4px  var(--color-shadow-primary));
  filter: drop-shadow(0px 0px 4px var(--color-shadow-primary));
}

.game .system-links {
  display: inline;
}
.game .system-links a {
  margin-right: 10px;
}

line {
	width: 100%;
	display: block;
}

.section {
	display: inline-block;
	background-color: var(--section-background);
	vertical-align: top;
	border: solid black 1px;
	border-radius: 6px;
	padding: 4px;
	margin: 5px;
  width: -webkit-fill-available;
}
.section-head {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid var(--highlight-color);
	margin: 0 0 0.5rem 0;
}
.section-head h2 {
	border-bottom: 0px;
	margin: 0 0 0 5px;
}
.section-title {
	color: var(--highlight-color);
}
.vehicle-stats-table th {
	padding-left: 2px;
	padding-right: 3px;
}
.vehicle-sheet .vehicle-stats tr {
	text-align: center;
}
.vehicle-stats-table input {
	text-align: center;
  width: 2em;
  margin-right: 10px;
  margin-left: 10px;
}
.vehicle-sheet .section {
  padding: 5px;
}
.vehicle-sheet .vehicle-section {
	margin: 5px 0 5px 0;
}
.vehicle-sheet .vehicle-section label {
  display: inline-block;
	width: 185px;
}
.vehicle-sheet .vehicle-section select {
	min-width: 200px;
}

.shadowrun6 th {
	text-shadow: none;
}
table td {
	padding: 1px;
}
th {
	color: var(--highlight-color);
	background-color: var(--tablehead-background);
}
tfoot th {
	color: var(--input-color);
	background-color: var(--tablehead-background);
}
.sheet-body * table{
	background-color: rgba(0,0,0,0);
	border-top: 0px;
	border-bottom: 0px;
}
.sheet-body * thead {
	background-color: var(--tablehead-background);
	text-shadow: none;
	border-bottom: 0px;
}
.game .centered {
	text-align: center;
}
.shadowrun6 input[type="text"]{
        font-variant-numeric: lining-nums;
        border: 0px solid black;
        background: none;
        color: var(--input-color);
        padding: 2px;
        padding-bottom: 2px;
        margin: 0;
        vertical-align: baseline;
        display: inline-block;
        height: 100%;
        border-radius: 4px;
 }
 .shadowrun6 .input-symbol-nuyen {
  position: relative;
}
.shadowrun6 .input-symbol-nuyen input {
  padding-right: 1em;
}
.shadowrun6 .input-symbol-nuyen:after {
  position: absolute;
  top: 0;
  content: "¥";
  right: 0.4em;
}
dt {
  float: left;
  font-weight: bold;
  margin-right: 0.5em;
}
dt::after {
  content: ": ";
}
dd::after {
  clear: left;
  content: " ";
  display: block;
}
.shadowrun6 input[type="text"].secondary {
	font-weight: normal;
}
.shadowrun6 input::placeholder {
	color: grey;
}

.barPhyMax {
    width: 20rem;
    background-color: transparent;
}
#barPhyCur {
    background-color: green;
    width: 60%;
    height: 100%;
    text-align: center;
}

.barStunMax {
    width: 20rem;
    background-color: transparent;
}
#barStunCur {
    background-color: blue;
    width: 60%;
    height: 100%;
    text-align: center;
}
.monitors .monitor {
  text-align: center;
  color: black;
  text-shadow: 1px 1px 4px #fff, -1px -1px 4px #fff, -1px 1px 5px #fff, 1px -1px 5px #fff;
  display: flex;
  flex-direction: row-reverse;
  z-index: 2;
  position: absolute;
  top: 0em;
  width: 100%;

  flex-wrap: wrap;
}
.monitors .monitor hr {
  /* width: 100%; */
  flex-basis: 100%;
  height: 4px;
  margin: 0;
  border: 0;
}

.monitors .monitor .monitorBox {
  flex: 1;
  border-left: solid black 0px;
  container-type: inline-size;
}
.monitors .monitor .monitorBox > div {
  font-size: clamp(0.1rem, 60cqw, 0.87rem);
  line-height: 16px;
}
/* .monitors .monitor .monitorBox:nth-child(3n) > div {
  background: silver;
}
.monitors .monitor .monitorBox:nth-child(3n)::after {
  content: '';
  width: 100%;
} */

.skills ol.item-list {
  padding-left: 0;
}
.skill-name {
	width: 10em;
	flex-grow:6;
	align-self: center;
	justify-content: center;
}

.skill-attrib {
	flex-grow:1.5;
	align-self: center;
	justify-content: center;
	padding: 0em;
}

.skill-pool {
	width: 2em;
	flex-grow:1;
	align-self: center;
	text-align:center;
	font-size: 150%;
}
.item-controls {
	align-self: center;
	padding: 0em;
	text-align:right;
}
.item-controls a, .item-controls span {
	margin: 0 10px 0;
}
.item-control {
	color: var(--highlight-color);
  font-size: 13px;
  vertical-align: middle;
}
.item-control h2 {
  font-size: 13px;
}
.item-control .fa-dice-six {
  font-size: 20px;
}
.middle-column {
	margin: 0 5px 0;
}
.important-column {
	font-weight: bold;
}
.shadowrun6 .sheet-tabs {
	background-color: rgba(255,255,255,0.5);
}
.collapsible-content {
  padding: 0 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  visibility: hidden;
}
.collapsible-content.open {
  max-height: 500px;
  visibility: visible;
}
.shadowrun6 .collapsible-skill {
	width: 1.5em;
	padding: 0.1em;
	margin: 0px;
	line-height: 10px;
	background-color: transparent;
	visibility: hidden;
}
.shadowrun6 button.collapsible-skill:before {
  content: '\025B6'; /* 02795 Unicode character for "plus" sign (+) */
  visibility: visible;
  font-size: 13px;
}
.shadowrun6 button.collapsible-skill.empty:before {
  content: '\025B7'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
}
.shadowrun6 button.collapsible-skill.open:before {
	content: "\25BC"; /* 2796 Unicode character for "minus" sign (-) */
}
.shadowrun6 button.collapsible {
	width: 1.5em;
	padding: 0.1em;
	margin: 0px;
	line-height: 10px;
	background-color: transparent;
	visibility: hidden;
}
.shadowrun6 button.collapsible:before {
  content: '\025B6'; /* 02795 Unicode character for "plus" sign (+) */
  visibility: visible;
  font-size: 13px;
}
.shadowrun6 button.collapsible.empty:before {
  content: '\025B7'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
}
.shadowrun6 button.collapsible.open:before {
	content: "\25BC"; /* 2796 Unicode character for "minus" sign (-) */
}

.game .sheet input[type=checkbox], .game .dialog input[type=checkbox] {
  box-shadow: 0 0 0.05em, 0 0.06em 0.2em 0.01em inset, 0 0 0 0.07em transparent inset;
  filter: invert(15%) brightness(1.09);
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height:14px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.shadowrun6-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.shadowrun6-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.shadowrun6 input:checked + .shadowrun6-slider {
  background-color: #2196F3;
}

.shadowrun6 input:focus + .shadowrun6-slider {
  box-shadow: 0 0 1px #2196F3;
}

.shadowrun6 input:checked + .shadowrun6-slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.shadowrun6-slider.round {
  border-radius: 6px;
}

.shadowrun6-slider.round:before {
  border-radius: 50%;
}

h3.highlight, h4.highlight {
	color: var(--highlight-color)
}

table.spell-table td {
	text-align: center;
}


.editor {
    flex: 1;
    justify-self: stretch;
    align-self: stretch;
    height: 100%;
    min-height: 200px;
}

.shadowrun6.item div.editor {
  min-height: 100px;
  max-width: 550px;
}
.shadowrun6.item div.editor-container {
  min-height: 100px;
  max-width: 550px;
}
.shadowrun6.item dd.specialDescription {
  margin-top: 20px;
  padding: 0px;
}

.shadowrun6 .sheet-editor-readonly {
  min-height: 50px;
  padding: 5px; 
  background: rgba(0, 0, 0, 0.05); 
  border: 1px solid var(--color-border-dark); 
  border-radius: 3px; 
}

.shadowrun6.item .item-sheet-header {
  display: flex;
  justify-content: space-between;
}
.shadowrun6.item .item-sheet-header h2 {
  flex-grow: 1;
  margin-right: 10px;
  align-self: baseline;
}
.shadowrun6.item .item-sheet-header img {
  background-color: var(--highlight-color);
  margin-right: 5px;
  border-radius: 4px;
}
.shadowrun6 h1 input, .shadowrun6 h2 input {
  font-weight: inherit;
}
.shadowrun6 nav.tabs [data-tab].active {
  text-shadow: .25px 0px .1px, 
              -.25px 0px .1px,
              0 0 10px var(--color-shadow-primary);
}
body.game .app.shadowrun6 .tabs.sheet-tabs [data-tab] {
  text-transform: uppercase;
}

/* ActiveEffects tab */
.shadowrun6 .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--shadowrun6-c-groove);
  font-weight: bold;
}
.shadowrun6 .effects-header > * {
  font-size: 14px;
  text-align: center;
}
.shadowrun6 .effects-header .effect-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.shadowrun6 .effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--shadowrun6-c-tan);
}
.shadowrun6 .effects-list .effect-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.shadowrun6 .effects-list .effect-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
  padding-left: 5px;
}
.shadowrun6 .effects-list .effect-name h3, .shadowrun6 .effects-list .effect-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.shadowrun6 .effects-list .effect-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.shadowrun6 .effects-list .effect-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.shadowrun6 .effects-list .effect {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--shadowrun6-c-faint);
}
.shadowrun6 .effects-list .effect:last-child {
  border-bottom: none;
}
.shadowrun6 .effects-list .effect .effect-name {
  color: var(--shadowrun6-c-dark);
}
.shadowrun6 .effects-list .effect .effect-name .effect-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.shadowrun6 .effects-list .effect-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.shadowrun6 .effects-list .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--shadowrun6-c-groove);
  font-weight: bold;
}
.shadowrun6 .effects-list .effects-header > * {
  font-size: 12px;
  text-align: center;
}
.shadowrun6 .effects-list .effects-header .effect-name {
  padding-left: 5px;
  text-align: left;
}
.shadowrun6 .effect-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.shadowrun6 .effects .item .effect-source,
.shadowrun6 .effects .item .effect-duration,
.shadowrun6 .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.shadowrun6 .effects .item .effect-controls {
  border: none;
}
.shadowrun6 .effects .effect-control.disabled {
  color: #999;
}
.shadowrun6 .effects .effect-control.disabled:hover {
    text-shadow: none;
}
.shadowrun6 .effects .item .effect-source .item-control {
  vertical-align: top;
}
.shadowrun6 .attribute input {
  color: gray;
}
.shadowrun6 .attribute input.attribute-mod-high {
  color: darkorange;
}
.active-effect-config .tab.changes header,
.active-effect-config .tab.changes ol {
  grid-template-columns: 19.5rem 7rem 7rem 4rem 1rem;
}
.active-effect-config .key input {
  line-height: var(--font-size-14);
}
.active-effect-sheet .key select {
  width: 100%;
}
.game .application input[type=checkbox] {
  box-shadow: none;
}
.active-effect-config .form-group ul,
.active-effect-config .form-group ol,
.active-effect-config .form-group p {
  margin: 0.25rem 0;
}
/* Fix .scrollable on the Changes tab */
.active-effect-config .tab.changes {
  overflow-y: revert;
}
.active-effect-config .tab.changes ol.scrollable {
  min-height: 4.5rem;
  align-items: baseline;
}