@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Rubik+Glitch&family=Syncopate:wght@400;700&display=swap');

:root body,
body.game.foundry-modern .app {
    --font-primary: "Play", serif;
    --font-body: "Play", serif;
    --font-blockquote: "Play", serif;
    --font-monospace: "Play", serif;
    --font-h1: "Rubik Glitch", serif;
    --font-h2: "Play", serif;
    --font-h3: "Play", serif;
    --font-h4: "Syncopate", serif;
    --font-h5: "Play", serif;
    --font-h6: "Rubik Glitch", serif;
    --font-sans: "Play", serif;
    --font-h3-size: var(--font-size-24);
    --font-h4-size: var(--font-size-20);
}
body.game.foundry-modern .application.journal-sheet {
    --color-text-emphatic: #892378;
    --color-text-primary: #892378;
    --color-text-secondary: #892378;
}

.game h1, .game h2, .game h3, .game h4 {
  margin: 0 0 0.5rem;
  padding: 0;
}
.game h1.window-title {
  margin: 0;
  border-bottom: 0;
}
.game h1 {
  font-weight: 400;
  border-bottom: 3px solid var(--color-underline-header);
}
.game h2 {
  font-size: 1.3em;
  font-weight: 700;
  border-bottom: 2px solid var(--color-underline-header);
}
.game h3 {
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 2px solid var(--color-underline-header);
}
.game h4 {
  font-weight: 400;
  margin: 0;
}
.game .dialog h2, .game .dialog h3 {
  margin: 0.5rem 0;
}
.game .section-head h2 {
  border-bottom: none;
  margin: 0;
}

.game .play-regular {
  font-family: "Play", serif;
  font-weight: 400;
  font-style: normal;
}

.game .play-bold {
  font-family: "Play", serif;
  font-weight: 700;
  font-style: normal;
}

.game .rubik-glitch-regular {
  font-family: "Rubik Glitch", serif;
  font-weight: 400;
  font-style: normal;
}

.game .syncopate-regular {
  font-family: "Syncopate", serif;
  font-weight: 400;
  font-style: normal;
}

.game .syncopate-bold {
  font-family: "Syncopate", serif;
  font-weight: 700;
  font-style: normal;
}
  