@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Rubik+Glitch&family=Syncopate:wght@400;700&display=swap');

:root body {
    --font-primary: "Play", serif;
    --font-body: "Play", serif;
    --font-blockquote: "Play", serif;
    --font-monospace: "Play", serif;
    --font-h1: "Rubik Glitch", serif;
    --font-h2: "Syncopate", serif;
    --font-h3: "Play", serif;
    --font-h4: "Syncopate", serif;
    --font-h5: "Play", serif;
    --font-h6: "Rubik Glitch", serif;
}

.game h1, h2, h3, h4 {
    font-weight: 700;
}
.game h4 {
    font-weight: 400;
}

.play-regular {
    font-family: "Play", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .play-bold {
    font-family: "Play", serif;
    font-weight: 700;
    font-style: normal;
  }

  .rubik-glitch-regular {
    font-family: "Rubik Glitch", serif;
    font-weight: 400;
    font-style: normal;
  }

  .syncopate-regular {
    font-family: "Syncopate", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .syncopate-bold {
    font-family: "Syncopate", serif;
    font-weight: 700;
    font-style: normal;
  }
    