			<div style="flex:5">
				<label for="grunt_group">{{localize 'shadowrun6.npc.grunt_group'}}:</label>
				<span id="grunt_group"><strong>{{localize 'shadowrun6.npc.grunt_group_id' groupId=gruntGroup.id}}</strong>x{{gruntGroup.members}}</span>
			</div>