<div style="flex:3">

	<!-- TODO implement grunt rules -->
	<!-- <input name="isGrunt" id="grunt_isgrunt" name="gruntrules" type="checkbox" value="{{system.gruntrules}}" />
	<label for="grunt_isgrunt">{{localize 'shadowrun6.npc.gruntrules' }}</label> -->

</div>
<div style="flex:5">

	<label for="grunt_mortype">{{localize 'shadowrun6.npc.mortype'}}:</label>
	<select id="grunt_mortype" name="system.mortype" data-field="system.mortype">
		{{selectOptions config.MOR_TYPES selected=system.mortype localize=true}}
	</select>
</div>