   <div class="section" style="width: 58%; margin: 5px; min-width: 435px;">
    <div class="section-head">
     <h2 class="section-title">{{ localize 'shadowrun6.section.weapon.ranged' }}</h2>
     <a class="item-control weapon-create" title="{{localize 'shadowrun6.section.weapon.add' }}"><h2 class="fas fa-plus"></h2></a>
    </div>
      <table>
        {{#each actor.items as |item id|}}
        {{#if (eq item.type 'gear')}}
        {{#if (or (eq item.system.type "WEAPON_FIREARMS") (eq item.system.type "WEAPON_RANGED"))}}
        <tr class="item" data-item-id="{{this.id}}"  title="{{sr6_description item.system 'item'}}">
            <td style="margin-right: 1rem; width: 5%">
                <button type="button" name="collapseWeapon{{id}}" class="collapsible {{item.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button>
            </td>
            <td style="width: 30%">
                <label class="item-name draggable" data-uuid="{{item.uuid}}" data-skill="{{id}}">{{item.name}}</label>
            </td>
            <td style="width: 10%"><label class="middle-column important-column">{{item.system.dmgDef}}</label></td>
            <td style="width: 15%"><label class="middle-column" >{{attackrating item.system.attackRating}}</label></td>
            <td style="width: 20%; text-align: right; vertical-align: middle">
                <label class="middle-column">
                    <input name="weaponAmmocount{{id}}" type="text" value="{{item.system.ammocount}}" data-field="system.ammocount" style="width: 1.5em; text-align: center"/> / {{item.system.ammocap}}
                </label>
                {{!-- TODO add ammo reload --}}
                <a class="item-control weapon-ammo-reload" data-skill="" data-item-id="{{this.id}}" title=""><i class="fas fa-rotate-right"></i></a>
            </td>
            <td class="skill-pool" style="width: 15%; text-align: right;">
         	    <label class="item-pool" data-skill="{{item.system.skill}}" data-skillspec="{{item.system.skillSpec}}">{{item.system.pool}}</label>
         	    <a class="item-control weapon-roll" data-uuid="{{item.uuid}}" data-skill="{{item.system.skill}}" data-item-id="{{this.id}}" data-defend-with="physical" title="{{localize (concat "skill." item.system.skill)}}"><i class="fas fa-dice-six"></i></a>
            </td>
            <td class="item-controls" style="width: 5%">
                <td class="centered" style="width: 100%">
                    <a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'>
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="item-control item-delete" title='{{localize 'shadowrun6.label.delete' }}'>
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </td>
        </tr>
        <tr>
            <td colspan="8">
         	    <div class="collapsible-content {{item.flags.shadowrun6-eden.collapse-state}}">
                    <table>
                        <tr>
                            <td>
                                {{ localize 'shadowrun6.label.modifications' }} 
                                <textarea class="box" type="text" data-item-id="{{this.id}}" data-field="system.accessories" type="text" data-dtype="Text" style="width: 100%">{{item.system.accessories}}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display: flex; align-items: center; vertical-align: middle;">
         	                        {{ localize 'shadowrun6.label.wilddie' }}: 
                                    <input name="weaponWildDie{{id}}" class="centered box" type="checkbox" data-item-id="{{this.id}}" {{checked item.system.wild}} data-check="system.wild" type="checkbox" data-dtype="Boolean"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ localize 'shadowrun6.label.poolmod' }}:
                                <input name="weaponMod{{id}}" class="centered box" type="text" data-item-id="{{this.id}}" data-field="system.modifier" type="text" value="{{item.system.modifier}}" data-dtype="Number" style="width: 1.5em"/>
                            </td>
                        </tr>
                    </table>
         	    </div>
            </td>
        </tr>
        {{/if}}
        {{/if}}
        {{/each}}
        <!-- Close Combat Weapons -->
       <tr><td colspan="8">
           <div class="section-head">
           <h2 class="section-title">{{ localize 'shadowrun6.section.weapon.close' }}</h2>
            <a class="item-control close-weapon-create" title="{{localize 'shadowrun6.section.weapon.add' }}"><h2 class="fas fa-plus"></h2></a>
        </div></td></tr>

        {{#each actor.items as |item id|}}
        {{#iff item.type '==' 'gear'}}
        {{#iff item.system.type '==' "WEAPON_CLOSE_COMBAT"}}
        <tr class="item" data-item-id="{{this.id}}"  title="{{sr6_description item.system 'item'}}">
            <td style="margin-right: 1rem; width: 5%">
                <button type="button" name="collapseCloseCombatWeapon{{id}}" class="collapsible {{item.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button>
            </td>
            <td style="width: 30%">
                <label class="item-name draggable" data-uuid="{{item.uuid}}" data-skill="{{id}}">{{item.name}}</label>
            </td>
            <td style="width: 10%"><label class="middle-column important-column">{{item.system.dmgDef}}</label></td>
            <td style="width: 15%"><label class="middle-column" >{{attackrating item.calculated.attackRating}}</label></td>
            <td style="width: 20%"></td>
            <td class="skill-pool" style="width: 15%; text-align: right;">
                <label class="item-pool" data-skill="{{item.system.skill}}">{{item.system.pool}}</label>
                <a class="item-control weapon-roll" data-uuid="{{item.uuid}}" data-skill="{{item.system.skill}}" data-item-id="{{this.id}}" title="{{localize (concat "skill." item.system.skill)}}"><i class="fas fa-dice-six"></i></a>
            </td>
            <td class="item-controls" style="width: 5%">
                <td class="centered"><a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
                    class="fas fa-edit"></i></a> <a class="item-control item-delete"
                    title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <div class="collapsible-content {{item.flags.shadowrun6-eden.collapse-state}}">
                    <table>
                        <tr>
                            <td>
                                {{ localize 'shadowrun6.label.modifications' }} 
                                <textarea class="box" type="text" data-item-id="{{this.id}}" data-field="system.accessories" type="text" data-dtype="Text" style="width: 100%" rows="2">{{item.system.accessories}}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display: flex; align-items: center; vertical-align: middle;">
                                    {{ localize 'shadowrun6.label.wilddie' }}:
                                    <input name="weaponWildDie{{id}}" class="centered box" type="checkbox" {{checked item.system.wild}} data-item-id="{{this.id}}" data-check="system.wild" type="checkbox" data-dtype="Boolean"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ localize 'shadowrun6.label.poolmod' }}: 
                                <input name="weaponMod{{id}}"  class="centered box" type="text" data-item-id="{{this.id}}" data-field="system.modifier" type="text" value="{{item.system.modifier}}" data-dtype="Number" style="width: 1.5em"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        {{/iff}}
        {{/iff}}
        {{/each}}
        <!-- Special Combat Weapons -->
        <tr>
            <td colspan="8">
                <div class="section-head">
                <h2 class="section-title">{{ localize 'shadowrun6.section.weapon.special' }}</h2>
                <a class="item-control weapon-special-create" title="{{localize 'shadowrun6.section.weapon.add' }}"><h2 class="fas fa-plus"></h2></a>
                </div>
            </td>
        </tr>

        {{#each actor.items as |item id|}}
        {{#iff item.type '==' 'gear'}}
        {{#iff item.system.type '==' "WEAPON_SPECIAL"}}
        <tr class="item" data-item-id="{{this.id}}" title="{{sr6_description item.system 'item'}}">
            <td style="margin-right: 1rem; width: 5%">
                <button type="button" name="collapseSpecialWeapon{{id}}" class="collapsible {{item.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button>
            </td>
            <td style="width: 30%">
                <label class="item-name draggable" data-uuid="{{item.uuid}}" data-skill="{{id}}">{{item.name}}</label>
            </td>
            <td style="width: 10%">
                <label class="middle-column important-column">{{item.system.dmgDef}}</label>
            </td>
            <td style="width: 15%">
                <label class="middle-column" >{{attackrating item.calculated.attackRating}}</label>
            </td>
            <td style="width: 20%; text-align: right; vertical-align: middle">
                <label class="middle-column">
                    <input name="weaponAmmocount{{id}}" type="text" value="{{item.system.ammocount}}" data-field="system.ammocount" style="width: 1.5em; text-align: center"/> / {{item.system.ammocap}}
                </label>
                <a class="item-control weapon-ammo-reload" data-skill="" data-item-id="" title=""><i class="fa-solid fa-rotate-right"></i></a>
            </td>
            <td class="skill-pool" style="width: 15%; text-align: right;">
                <label class="item-pool" data-skill="{{item.system.skill}}">{{item.system.pool}}</label>
                <a class="item-control weapon-roll" data-uuid="{{item.uuid}}" data-skill="{{item.system.skill}}" data-item-id="{{this.id}}" title="{{localize (concat "skill." item.system.skill)}}"><i class="fas fa-dice-six"></i></a>
            </td>
            <td class="item-controls" style="width: 5%">
                <td class="centered"><a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
                    class="fas fa-edit"></i></a> <a class="item-control item-delete"
                    title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <div class="collapsible-content {{item.flags.shadowrun6-eden.collapse-state}}">
                    <table>
                        <tr>
                            <td>
                                {{ localize 'shadowrun6.label.modifications' }} 
                                <textarea class="box" type="text" data-item-id="{{this.id}}" data-field="system.accessories" type="text" data-dtype="Text" style="width: 100%" rows="2">{{item.system.accessories}}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display: flex; align-items: center; vertical-align: middle;">
                                    {{ localize 'shadowrun6.label.wilddie' }}:
                                    <input name="weaponWildDie{{id}}" class="centered box" type="checkbox" {{checked item.system.wild}} data-item-id="{{this.id}}" data-check="system.wild" type="checkbox" data-dtype="Boolean"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ localize 'shadowrun6.label.poolmod' }}:
                                <input name="weaponMod{{id}}" class="centered box" type="text" data-item-id="{{this.id}}" data-field="system.modifier" type="text" value="{{item.system.modifier}}" data-dtype="Number" style="width: 1.5em"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
            {{/iff}}
            {{/iff}}
        {{/each}}
     </table>
   </div>
