<div class="section" style="display: inline-block; width: 48%; margin: 5px; min-width: 320px;">
 <div class="section-head">
	<h2 class="section-title">{{title}}</h2>
		<a class="item-control {{geartype}}-create" title="{{localize 'shadowrun6.section.gear.add' }}"><h2 class="fas fa-plus"></h2></a>
</div>
<table class="item-list">
	    <thead>
	      <tr>
	        <th style="width: 24px;"></th>
	        <th style="text-align: left; padding-left: 3px;">{{ localize 'shadowrun6.label.column.name' }}</th>
	        <th style="width: 5%">{{ localize 'shadowrun6.label.column.rating' }}</th>
	        <th style="width: 10%">{{ localize 'shadowrun6.label.column.count' }}</th>
	        <th style="width: 5%">{{ localize 'shadowrun6.label.column.action' }}</th>
	      </tr>
	    </thead>
		{{#each (sort actor.items) as |item id|}}
		{{#iff item.type '==' 'gear'}}
		{{#if (eq item.system.type ../geartype) }}
		<tr class="item list-item" data-item-id="{{item.id}}">
       	<td style="margin-right: 1rem; width: 0.7em;">
		   {{#if item.system.accessories }}
       	<button type="button" name="collapseGear{{id}}" class="collapsible {{item.flags.shadowrun6-eden.collapse-state}}" data-item-id="{{this.id}}">+</button>
       	{{else}}
       	<button type="button" name="collapseGear{{id}}" class="collapsible {{item.flags.shadowrun6-eden.collapse-state}} empty" data-item-id="{{this.id}}">+</button>
       	{{/if}}
       	</td>
			<td style="height:20px;"> {{item.name}}</td>
			<td style="width: 2em" class="centered">
			{{#if item.system.needsRating}}
			<input name= "gearRating{{id}}" style="padding:0px" type="text" value="{{item.system.rating}}" data-field="system.rating" title="{{item.system.rating}}"/>
			{{else}}
			-
			{{/if}}
			</td>
			<td style="width: 2em" class="centered">
			{{#if item.system.countable}}
			<input name="gearCount{{id}}" type="text" value="{{item.system.count}}" data-field="system.count" title="{{item.system.count}}"/>
			{{else}}
			1
			{{/if}}
			</td>
			<td class="centered">
				<a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a>
			</td>
	   </tr>
       <tr>
         <td colspan="5">
         	<div class="collapsible-content {{item.flags.shadowrun6-eden.collapse-state}}" style="font-size: 0.8em;">
        	   <div style="font-weight: bold;">{{ localize 'shadowrun6.label.accessories' }}</div>
			   <div>{{{item.system.accessories}}} &nbsp;</div>
        	   <div style="font-weight: bold;">{{ localize 'shadowrun6.item.description' }}</div>
			   <div>{{{item.system.description}}} &nbsp;</div>
         	</div>
         </td>
       </tr>
		{{/if}}

		{{/iff}}
		{{/each}}
</table>
</div>