<div class="section" style="display: inline-block; width:100%">
 <div class="section-head">
	<h2 class="section-title">{{ localize 'shadowrun6.section.karma.title' }}</h2>
</div>
<table>
	  <tbody>
	    <tr>
	      <th style="width: 6em">{{ localize 'shadowrun6.section.karma.karma' }}<th>
	      <td><input class="box" style="width: 4em" type="text" data-dtype="Number" data-field="system.karma" value="{{system.karma}}"/></td>
	      <td>Total: <input class="box"  style="width: 4em"type="text" data-dtype="Number" data-field="system.karma_total" value="{{system.karma_total}}"/></td>
	    </tr>
	    <tr>
	      <th style="width: 6em">{{ localize 'shadowrun6.section.karma.heat' }}<th>
	      <td><input class="box" style="width: 4em" type="text" data-dtype="Number" data-field="system.heat" value="{{system.heat}}"/></td>
	    </tr>
	    <tr>
	      <th style="width: 6em">{{ localize 'shadowrun6.section.karma.reputation' }}<th>
	      <td><input class="box" style="width: 4em" type="text" data-dtype="Number" data-field="system.reputation" value="{{system.reputation}}"/></td>
	    </tr>
	  </tbody>
</table>
</div>