<div class="section">
	<div class="section-head">
		<h2 class="section-title">{{ localize 'shadowrun6.section.rituals.title' }}</h2>
		<a class="item-control ritual-create" title="{{localize 'shadowrun6.section.rituals.add' }}">
			<h2 class="fas fa-plus"></h2>
		</a>
	</div>
	<table>
	    <thead>
	      <tr>
	        <th></th>
	        <th style="text-align:left; width: 60%;">{{ localize 'shadowrun6.label.column.name' }}</th>
	        <th style="width: 20%;">{{ localize 'shadowrun6.section.rituals.column.threshold' }}</th>
	        <th>{{ localize 'shadowrun6.label.column.action' }}</th>
	      </tr>
	    </thead>
		{{#each (sort actor.itemTypes.ritual) as |item id|}}
		<tr class="item list-item draggable" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}">
			<td style="margin-right: 1rem; width: 0.7em;">
				{{#if (or (or (or (or (or item.system.description item.system.features.anchored) item.system.features.material_link) item.system.features.minion) item.system.features.spell) item.system.features.spotter)}}
				<button type="button" name="collapseRitual{{id}}" class="collapsible closed" data-item-id="{{this.id}}">+</button>
				{{else}}
				<button type="button" name="collapseRitual{{id}}" class="collapsible closed empty" data-item-id="{{this.id}}">+</button>
				{{/if}}
			</td>
       		<td>{{item.name}}</td>
			<td class="centered" style="width: 2em">{{item.system.threshold}}</td>
			<td class="centered">
				<a class="item-control ritual-roll" data-type="Roll" data-uuid="{{item.uuid}}" data-item-id="{{item.id}}" title="Roll" ><i class="fas fa-dice-six"></i></a>
				<!-- <a class="item-control skill-roll" title="Roll"  data-skill="sorcery" data-skillspec="ritual_spellcasting"  data-item-id="{{item.id}}" ><i class="fas fa-dice-six"></i></a> -->
				<a class="item-control item-edit"   title='{{localize 'shadowrun6.label.edit' }}'><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a></td>
	   </tr>
       <tr>
         <td colspan="6">
         	<div class="collapsible-content closed">
			   {{#if (or (or (or (or item.system.features.anchored item.system.features.material_link) item.system.features.minion) item.system.features.spell) item.system.features.spotter)}}
        	   <div style="font-weight: bold;">{{ localize 'shadowrun6.label.features' }}</div>
			   <div>{{ritualFeat item.system}}</div>
				{{/if}}
			   {{#if item.system.description}}
				<div style="font-weight: bold;">{{ localize 'shadowrun6.item.description' }}</div>
				<div>{{{item.enriched.description}}}</div>
				{{/if}}
         	</div>
         </td>
       </tr>
		{{/each}}
	</table>
</div>