<div class="section" style="display: inline-block; width:39%; min-width: 310px;">
	<div class="section-head">
     <h2 class="section-title">{{ localize 'shadowrun6.section.matrix_devices.title_rcc' }}</h2>
	 <a class="item-control rcc-create" title="{{localize 'shadowrun6.section.matrix_devices.add_rcc' }}"><h2 class="fas fa-plus"></h2></a>
	</div>
	<table>
		<tbody>
			<tr>
				<td>{{localize 'shadowrun6.item.vehicle.rigRating.long'}}</td>
				<td>
					<select name="system.controlRig" data-field="system.controlRig">
                     {{selectOptions config.CONTROL_RIG_RATING selected=system.controlRig localize=true}}
         		</select>
				</td>
			</tr>
		</tbody>
	</table>
	<table>
		<tbody>
			<tr>
				<th style="padding: 0 5px 0 5px;">{{ localize 'shadowrun6.label.name' }}</th>
				<th style="padding: 0 0px 0 5px; width: 2em">{{ localize 'shadowrun6.label.devicerating.short' }}</th>
				<th style="padding: 0 0px 0 0px; width: 2em">{{ localize 'shadowrun6.label.dataproc.short' }}</th>
				<th style="padding: 0 5px 0 0px; width: 2em">{{ localize 'shadowrun6.label.firewall.short' }}</th>
				<th style="padding: 0 5px 0 5px; width: 3rem"> </th>
			</tr>
 		{{#each actor.items as |item id|}}
		{{#if (eq item.type 'gear')}}
		{{#if (eq item.system.type "ELECTRONICS") }}
		{{#if (eq item.system.subtype "RIGGER_CONSOLE") }}
		<tr class="item" data-item-id="{{this.id}}" title="{{item.system.description}}">
			<td style="margin-right: 1rem"><button type="button" name="collapseRiggerConsole{{id}}" class="collapsible closed" data-item-id="{{this.id}}"></button><label class="item-name draggable" data-uuid="{{item.uuid}}" data-skill="{{id}}">{{item.name}}</label></td>
			<td class="centered"><label class="middle-column" >{{item.system.devRating}}</label></td>
			<td class="centered">{{item.system.d}}</td>
			<td class="centered">{{item.system.f}}</td>
			<td class="centered">
				<a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i
					class="fas fa-edit"></i></a> <a class="item-control item-delete"
				title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a>
			</td>
		</tr>
		<tr>
			<td colspan="5">
			<div class="collapsible-content closed" style="font-size: 0.8em;">
				<div style="font-weight: bold;">{{ localize 'shadowrun6.item.description' }}</div>
				<div>{{{item.enriched.description}}} &nbsp;</div>
			</div>
			</td>
		</tr>
       {{/if}}
       {{/if}}
       {{/if}}
       {{/each}}
		</tbody>
	</table>
</div>