<div class="section" style="display: inline-block; width:100%; min-width: 350px;">
 <div class="section-head">
	<h2 class="section-title">{{ localize 'shadowrun6.section.bodyware.title' }}</h2>
	<a class="item-control bodyware-create" title="{{localize 'shadowrun6.section.bodyware.add' }}">
		<h2 class="fas fa-plus"></h2>
	</a>
</div>
<table>
	    <thead>
	      <tr>
	        <th style="text-align: left;">{{ localize 'shadowrun6.label.column.name' }}</th>
	        <th>{{ localize 'shadowrun6.section.bodyware.column.essence' }}</th>
	        <th>{{ localize 'shadowrun6.section.bodyware.column.capacity' }}</th>
	        <th>
				<!-- {{ localize 'shadowrun6.label.column.action' }} -->
			</th>
	      </tr>
	    </thead>
	{{#each actor.items as |item id|}}
	{{#if (eq item.type 'gear')}}
		{{#if (or (eq item.system.type "CYBERWARE") 
		          (or (eq item.system.type "BIOWARE")
				      (or (eq item.system.type "NANOWARE") 
					      (eq item.system.type "GENETICS")
			)))
		}}
		<tr class="item list-item" data-item-id="{{item.id}}">
			<td> <input name="bodywareName{{id}}" type="text" value="{{item.name}}" data-field="name" title="{{sr6_description item.system 'item'}}" disabled></td>
			<td class="centered"style="width: 3em"> <input name="bodywareEssence{{id}}" type="text" value="{{item.system.essence}}" data-field="system.essence" data-type="Number" disabled></td>
			{{#if (eq item.system.type "CYBERWARE") }}
			<td class="centered" style="width: 2em"> <input name="bodywareCapacity{{id}}" class="centered" type="text" value="{{item.system.capacity}}" data-field="system.capacity" data-type="Number" disabled></td>
			{{else}}
			<td class="centered"> - </td>
			{{/if}}
			<td style="text-align: right;">
				<a class="item-control item-edit" title='{{localize 'shadowrun6.label.edit' }}'><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete"	title='{{localize 'shadowrun6.label.delete' }}'><i class="fas fa-trash"></i></a>
			</td>
	   </tr>
		{{/if}}
	{{/if}}
	{{/each}}
	    <tfoot>
	      <tr>
	        <th style="text-align: right; font-weight:normal">{{ localize 'shadowrun6.section.bodyware.footer.total_essence' }}:</th>
	        <th style="width: 3em">{{actor.system.essence}}</th>
	        <th></th>
	        <th></th>
	      </tr>
	    </tfoot>
</table>
</div>