{{#switch actor.type}}
	{{#case 'Player'}}
		<div style="column-count: 2; margin-right: 5px; flex: auto">
			{{> "systems/shadowrun6-eden/templates/parts/section-contacts.html" }}
			{{> "systems/shadowrun6-eden/templates/parts/section-lifestyles.html"}}
			{{> "systems/shadowrun6-eden/templates/parts/section-sins.html"}}
			{{> "systems/shadowrun6-eden/templates/parts/section-karma_rep.html"}}
		</div>
	{{/case}}
{{/switch}}

		{{> "systems/shadowrun6-eden/templates/parts/section-notes.html"}}
