<p><b>ToDo:</b> Vehicle Speed Control</p>
<label>Belongs To: </label> 
<select class="vehicleUser" data-field="system.vehicle.belongs">
	{{log this}}
	{{selectOptions this.options.allVehicleUser selected=system.vehicle.belongs}}
</select>
<br/>

<label>Mode of Operation</label>
<select data-field="system.vehicle.opMode" data-field="system.vehicle.opMode" data-item-id="{{this.id}}">
	{{selectOptions config.VEHICLE_MODE selected=system.vehicle.opMode localize=true}}
</select>

<table>
	<tr>
		<td><img src="systems/shadowrun6-eden/images/road.svg" style="border: 0px; height: auto; width: 48px" /></td>
		<td style="text-align:center; width: 5em"><label class="switch" title="Huh">
       	<input type="checkbox" data-check="system.vehicle.offRoad" {{checked system.vehicle.offRoad}} type="checkbox" data-dtype="Boolean"/>
                        <span class="shadowrun6-slider round"></span>
                    </label><br/>{{#if system.vehicle.offRoad}}
		{{localize 'shadowrun6.label.offroad'}}
		{{else}}
		{{localize 'shadowrun6.label.onroad'}}
		{{/if}}</td>
		<td><img src="systems/shadowrun6-eden/images/hills.svg" style="border: 0px; height: auto; width: 48px" /></td>
		<td style="width: 4em"/>
		<td><img src="systems/shadowrun6-eden/images/speedometer.svg" style="border: 0px; height: auto; width: 64px" /></td>
		<td> <button type="button" class="vehicle-slower">{{localize 'shadowrun6.label.slower'}}</button> </td>
		<td><input class="centered box" type="text" style="width: 4em"  value="{{system.vehicle.speed}}" data-dtype="Number"
				data-field="system.vehicle.speed" /></td>
		<td> <button type="button" class="vehicle-faster">{{localize 'shadowrun6.label.faster'}}</button> </td>
	</tr>
</table>
